In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
file_path = "../data/raw/benin-malanville.csv"
df = pd.read_csv(file_path)

In [30]:
df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [4]:
# region Practice with pd.to_datetime function
# result = df["Timestamp"]

# This is the DateTime format date for the "Timestamp"
# datetime_column = pd.to_datetime(result)

# datetime_column.head()

# day_column = datetime_column.dt.day
# month_column = datetime_column.dt.month
# year_column = datetime_column.dt.year

# TODO: iterate over the datetime column, and get the date for each column

# for value in day_column:
#     print(f"The day is: {value}")

# month_dict = {
#     1: "January",
#     2: "February",
#     3: "March",
#     4: "April",
#     5: "May",
#     6: "June",
#     7: "July",
#     8: "August",
#     9: "September",
#     10: "October",
#     11: "November",
#     12: "December",
# }

# from datetime import datetime

# format_string = "%Y-%m-%d %H:%M:%S"
# for value in datetime_column.head():
#     converted_date = datetime.strptime(str(value), format_string)
#     print(converted_date)

#     day = converted_date.day
#     month = converted_date.month
#     year = converted_date.year
#     weekday = converted_date.strftime("%A")
#     time_am_pm = converted_date.strftime("%I:%M:%S %p")

#     print(f"The day is: {day}")
#     print(f"The month is: {month}")
#     print(f"The month is string is: {month_dict[month]}")
#     print(f"The year is: {year}")
#     print(f"The week day in string is: {weekday}")
#     print(f"The time in AM/PM: {time_am_pm}")

#     print()
# endregion

In [31]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

df["Day"] = df["Timestamp"].dt.day
df["Year"] = df["Timestamp"].dt.year
df["Month"] = df["Timestamp"].dt.month
df["Time"] = df["Timestamp"].dt.strftime("%I:%M %p")
df["Day_Name"] = df["Timestamp"].dt.strftime("%A")

df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,...,Cleaning,Precipitation,TModA,TModB,Comments,Day,Year,Month,Time,Day_Name
0,2021-08-09 00:01:00,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,...,0,0.0,26.3,26.2,NaN,9,2021,8,12:01 AM,Monday
1,2021-08-09 00:02:00,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,...,0,0.0,26.3,26.2,NaN,9,2021,8,12:02 AM,Monday
2,2021-08-09 00:03:00,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,...,0,0.0,26.4,26.2,NaN,9,2021,8,12:03 AM,Monday
3,2021-08-09 00:04:00,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,...,0,0.0,26.4,26.3,NaN,9,2021,8,12:04 AM,Monday
4,2021-08-09 00:05:00,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,...,0,0.0,26.4,26.3,NaN,9,2021,8,12:05 AM,Monday

#### How to handle the negative values in the GHI, DNI, and DHI?

Here I made the decision to apply data shifting technique to not lose the distribution of the data. My justification for this is because I think that night values should not matter, since sunlight does not generally have much meaning at night time, and by applying data shifting technique I won't lose the distribution of the data.

**NOTE**: This approach might not be optimal hence might result in unexpected results.

In [33]:
min_ghi = df["GHI"].min()
shift_value = abs(min_ghi)

print(
    f"The minimum value is: {min_ghi}, so the shift value for the GHI is {shift_value}\n"
)

df["GHI"] = df["GHI"] + shift_value

print("Extremes range after data shift is applied.\n")
print(f"The max and min value are: {df["GHI"].max()} and {df['GHI'].min()} respectively.")

The minimum value is: -12.9, so the shift value for the GHI is 12.9

Extremes range after data shift is applied.

The max and min value are: 1425.9 and 0.0 respectively.

In [34]:
min_dhi = df["DHI"].min()
shift_value = abs(min_dhi)

print(
    f"The minimum value is: {min_dhi}, so the shift value for the DHI is {shift_value}\n"
)

df["DHI"] = df["DHI"] + shift_value

print("Extremes range after data shift is applied.\n")
print(f"The max and min value are: {df["DHI"].max()} and {df['DHI'].min()} respectively.")

The minimum value is: -12.6, so the shift value for the GHI is 12.6

Extremes range after data shift is applied.

The max and min value are: 771.8000000000001 and 0.0 respectively.

In [35]:
min_dni = df["DNI"].min()
shift_value = abs(min_dni)

print(
    f"The minimum value is: {min_dni}, so the shift value for the DNI is {shift_value}:\n"
)

df["DNI"] = df["DNI"] + shift_value

print("Extremes range after data shift is applied:")
print(f"The max and the min value are: {df["DNI"].max()} and {df["DNI"].min()} respectively.")

The minimum value is: -7.8, so the shift value for the DNI is 7.8:

Extremes range after data shift is applied:
The max and the min value are: 960.0999999999999 and 0.0 respectively.

In [36]:
df.describe()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,...,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments,Day,Year,Month
count,525600,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,...,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0,525600.000000,525600.000000,525600.000000
mean,2022-02-07 12:00:30.000000512,253.459452,174.987516,127.958961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,...,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN,15.720548,2021.602742,6.526027
min,2021-08-09 00:01:00,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,...,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN,1.000000,2021.000000,1.000000
25%,2021-11-08 06:00:45,10.900000,7.300000,10.500000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,...,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN,8.000000,2021.000000,4.000000
50%,2022-02-07 12:00:30,14.700000,7.700000,14.200000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,...,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN,16.000000,2022.000000,7.000000
75%,2022-05-09 18:00:15,496.300000,322.000000,228.900000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,...,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN,23.000000,2022.000000,10.000000
max,2022-08-09 00:00:00,1425.900000,960.100000,771.800000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,...,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN,31.000000,2022.000000,12.000000
std,NaN,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,...,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN,8.796255,0.489331,3.447855